html, body {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 1200px) {
	.container {
		width: 100%;
	}
}

@media (max-width: 767px) {
	body {
		padding: 50px 0px;
	}
}
@media (min-width: 768px) {
	body {
	  padding: 50px;
	  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
	}
}

a {
  color: #880e4f;
}

.btn-primary {
	background-color: #880e4e !important;
	border-color: #490027 !important;
}

.btn:hover {
	background-color: #6c0039 !important;
}

/*left margin to separate buttons */
.margin-left-1em {
	margin-left: 1em !important;
}

.bg-primary {
	background-color: #4caf50;
}

.bg-grey {
	background-color: #e0e0e0;
}

.panel-heading {
	background-color: #558b2f !important;
	color: white !important;
}

.greenBox {
	width: 150%;
	margin-left:-25%;
	height: 25em;
	transform: translateY(-20%);
	background-color: #9ccc65;
	position: absolute;
	z-index: -1;
}

.navbar {
	border-radius: 0 !important;
	margin: -50px -50px 20px -50px !important;
	padding: .5em 2.5em !important;
}

#navbar-main li button {
	margin-top: 1em;
}

.navbar-header {
	float: none;
}

.navbar-brand {
	position: relative;
}

.navbar-brand img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.navbar-right {
	margin-right: 0;
}

#logo {
	width: 20%;
}

#logo img {
	max-width: 100%;
}

.backImage {
	width: 120%;
	margin-left: -10%;
	margin-top: -20px;
	padding: 0 25%;
	height: auto;
	background-image: url("/images/backImage.jpg");
	background-size: cover;
}

.splashContents {
	padding: 5em 0;
}

.modal-body {
	padding-left: 3em;
	padding-right: 3em;
}

/* landing specific styles */

.services .glyphicon {
	font-size: 5em;
	color: #4caf50;
}

.searchOptions {
	margin-left: .5em;
	margin-right: .5em;
}

.thumbnail {
	padding:0; 
	border-radius:0; 
	border:none; 
	box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)
}

.productImage {
	width:100%; 
	display:block
}

.category-select {
	width: auto;
	display: inline;
}

.padding-top-zero {
	padding.top: 0;
}

/* make radio buttons inside tables vertical-align */
td input {
	vertical-align: middle;
}

/* CART-specific styles */
.xs40 {
	width: 40% !important;
}

.xs25 {
	width: 25% !important;
}

.xs10 {
	width: 10% !important;
}

.red-text {
	color: maroon;
}

/* Tablesaw adjustments */
@media (max-width: 39.9375em) {
  /* Table rows have a gray bottom stroke by default */

  .tablesaw-stack tbody tr {
    border-bottom: 3px solid #9ccc65;
  }
}