extends layout

block content
	.row
		.col-sm-4.col-md-3.bg-grey
			h4.text-white Search Filter Options
			.row.searchOptions.text-muted
				.well
					form
						.form-group
							label(for='location') Location
							input.form-control#location(type='text', name='location', placeholder='Moosomin')
						.form-group
							label(for='distance') Search Radius (km)
							.btn-group.btn-group-justified
								label.btn.btn-primary
									span 5
								label.btn.btn-primary
									span 25
								label.btn.btn-primary
									span 50
								label.btn.btn-primary
									span 100

			.panel-group#accordian
				.panel.panel-default
					.panel-heading
						h4.panel-title
							a(data-toggle="collapse", data-parent="#accordian", href="#advancedSearchAccordian") Advanced Search Options  
								i.fa.fa-caret-down.fa-lg
					.panel-collapse.collapse.collapsed#advancedSearchAccordian
						.panel-body
										
							.row.searchOptions.text-muted
								.well
									form
										.form-group
											label(for='delivery') Delivery Type
												.checkbox
													label
														input(type='checkbox', value='Door-to-door')
														span Door-to-door
														p.small The producer delivers directly to you.
												.checkbox
													label
														input(type='checkbox', value='Off-farm Pickup')
														span Off-farm Pickup
														p.small The producer delivers to another location, where you would pick up your order.
												.checkbox
													label
														input(type='checkbox', value='Scheduled Farmgate Pickup')
														span Scheduled Farmgate Pickup
														p.small You come to the producer within the chosen time frame.
							.row.searchOptions.text-muted
								.well
									form
										.form-group
											label(for='delivery') Upcoming Deliveries
												.checkbox
													label
														input(type='radio', value='Door-to-door')
														span Moosomin, Jan 1, 2:00-4:00, Door-to-door
												.checkbox
													label
														input(type='radio', value='Door-to-door')
														span Moosomin, Jan 3, 2:00-4:00, Scheduled Farmgate
												.checkbox
													label
														input(type='radio', value='Door-to-door')
														span Wapella, Jan 1, 3:00-4:00, Off-farm pickup
							.row.searchOptions.text-muted
								.well
									form
										.form-group
											label(for='category') Product Category
												.list-group
													.list-group.item
														
														select#meat(name='meat')
															option(value="allMeat") All Meat
															option(value="beef") Beef
															option(value="chicken") Chicken
													.list-group.item
														
														select#produce(name='produce')
															option(value="allProduce") All Produce
															option(value="carrots") Carrots
															option(value="potatoes") Potatoes
													
											.btn-group.btn-group-justified
												label.btn.btn-primary
													span Deselect All
												label.btn.btn-primary
													span Select All
							.row.searchOptions.text-muted
								.well
									form
										.form-group
											label(for='textSearch') Search
											input.form-control#textSearch(type='text', name='textSearch')
				
		.col-sm-8.col-md-9
			.row
				each product in products
					.col-md-4.col-sm-6.col-xs-12
						.thumbnail
							a(href='/product/')
									img.img-responsive.productImage(src= product.productImage)
							.caption
								h5.productName
									a(href='/product/')= product.productName							
								p.price $#{product.productPrice}/#{product.productUnit}
								.btn-group.btn-group-justified
									a.btn.btn-primary(href="/product/", role="button") Details
									a.btn.btn-primary(href="/cart", role="button") Add to Cart
								a(href='/producer/1')
									h5.producerName.text-center= product.producerName
				
